body {
  color: #e6e6e6;
  font-family: Helvetica;
  background-image: url("bg.png");
  background-position: center;
  background-size: cover; 
  padding: 0 1.5rem;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  margin: 0.67em 0;
}

canvas {
  border: 1px solid #696969;
}


p#canvas-label {
  color: #111111;
  font-family: monospace;
  font-size: 12px;
  position: absolute;
  z-index: 1; 
  margin-left: 1rem;
  padding: 0 10px;
  background-color: #d1d1d1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.button-shape {
  background-color: #d2d2d2;
  color: black;
  padding: 10px 30px;
  margin: 8px 0;
  border: 1px solid;
  border-radius: 15px;
  transition-duration: 300ms;
}

.button-shape:hover {
  background-color: #e6e6e6;
  color: rgb(52, 52, 52);
  transition-duration: 300ms;
  cursor: pointer;

}

.button-shape-selected {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
  transition-duration: 300ms;
}

.button-shape-selected:hover {
  background-color: #56de5a;
  color: white;
  border-color: #56de5a;
  transition-duration: 300ms;
}

button.btn-coor-webgl{
  background-color: #4328da;
  color: white;
  border-color: #4328da;
  transition-duration: 300ms;
}

button.btn-coor-canvas{
  background-color: #f54332;
  color: white;
  border-color: #f54332;
  transition-duration: 300ms;
}

#swatch{
  background: white;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  height: fit-content;
}


input[type="color"] {
  background: none;
  border: 1px solid;
  cursor: pointer;
  height: 40px;
  padding: 0;
  width: 40px;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}